/* =========================================================
   Footer
   ========================================================= */

   #footer-widgets{
    background-color: var(--e-global-color-primary) !important;
  }